<html>
  <title><%= t("atten.print_gafete") %></title>
  <head>
    <script type="text/javascript">
      $(function() {
        $("#with_logos").change(function() {
          if ($(this).prop("checked")) {
            $(".gafete-logo").css({visibility: "visible"});
            $("#gafete-text").css({ "border-top": "1px solid #000", "border-bottom": "1px solid #000", "padding-top": "0" });
            generate_gafete_href = $("#generate-gafete").attr("href").replace("&with_logos=false", "&with_logos=true");
            $("#generate-gafete").attr("href", generate_gafete_href);
          }
          else {
            $(".gafete-logo").css({visibility: "hidden"});
            $("#gafete-text").css({ border: "none", "padding-top": "1px" });
            generate_gafete_href = $("#generate-gafete").attr("href").replace("&with_logos=true", "&with_logos=false");
            $("#generate-gafete").attr("href", generate_gafete_href);
          }
        });
      });
    </script>
  </head>
  <body style="margin: 0;">
    <% if @layout == "true" %>
      <h2 style="text-align: center; margin-bottom: 20px;"><%= "#{t("atten.generate_gafete")} gafete" %></h2>
      <%= label_tag t("atten.with_logos"), nil, :style => "font-size: 14px; font-weight: bold; color: #000;" %>
      <%= check_box_tag "with_logos", nil, true %>
      <div style="margin: 15px 0px; font-size: 14px; color: #000;">
        <span style="font-weight: bold;"><%= t(:note) %>:</span><span> <%= t(:gafete_note) %>.</span>
      </div>
    <% end %>
    <% @gafete_container_margin = (@layout == "true")? "40px 0": "0" %>
    <div id="gafete-container" style="height: 415px; margin: <%= @gafete_container_margin %>; min-height: 400px; color: #000;">
      <% @system_configuration = SystemConfiguration.first %>
      <% @logo_url = @system_configuration.logo.url %>
      <% @banner_url = @system_configuration.banner.url %>
      <% @gafete_logo_visibility = (@with_logos == "true")? "visible": "hidden" %>
      <% @gafete_text_padding_top = (@with_logos == "true")? "0": "1px" %>
      <div id="gafete" style="width: 305px; height: 415px; margin: 0 auto 30px;">
        <div class="gafete-logo" style="height: 85px; width: 305px; border-bottom: 1px solid #000; visibility: <%= @gafete_logo_visibility %>;">
          <%= image_tag @logo_url, :height => 70, :style => "height: 70px; -ms-interpolation-mode: bicubic; margin: 7px;" %>
        </div>
        <div class="gafete-logo" style="height: 135px; width: 305px; text-align: center; visibility: <%= @gafete_logo_visibility %>;">
          <%= image_tag @banner_url, :height => 125, :width => 295, :style => "height: 125px; width: 290px; -ms-interpolation-mode: bicubic; margin: 5px;" %>
        </div>
        <div id="gafete-text" style="height: 115px;<%= " border-top: 1px solid #000; border-bottom: 1px solid #000;" if @with_logos == "true" %> line-height: 30px; font-family: Arial, Helvetica, sans-serif; text-align: center; padding-top: <%= @gafete_text_padding_top %>;">
          <span style="font-weight: bold; font-size: 20px; top: 15px; position: relative;"><%= @a_name %></span><br/>
          <span style="font-size: 20px; top: 15px; position: relative;"><%= @e_tradename %></span>
        </div>
        <div class="gafete-logo" style="height: 80px; width: 305px; visibility: <%= @gafete_logo_visibility %>;">
          <%= image_tag "/assets/logoexpo.png", :width => 100, :style => "width 140px; height: auto; -ms-interpolation-mode: bicubic; top: 8px; position: relative;" %>
          <div style="float: right; display: inline-block; padding: 20px 20px 0 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <%= image_tag "/assets/face48.png", :width => 20, :style => "width 20px; height: auto; -ms-interpolation-mode: bicubic;" %>
            <span style="position: relative; bottom: 5px;">eMobileMobilizingIdeas</span><br/>
            <%= image_tag "/assets/tweet48.png", :width => 20, :style => "width 20px; height: auto; -ms-interpolation-mode: bicubic;" %>
            <span style="position: relative; bottom: 5px;">@eMobile_mi</span>
          </div>
        </div>
      </div>
    </div>
    <% if @layout == "true" %>
      <div id="buttons" style="width: 290px; margin: 0 auto; text-align: center;">
        <%= link_to t("atten.print_gafete"), attendees_generate_gafete_path(:a_name => @a_name, :e_tradename => @e_tradename, :layout => "false", :with_logos => "true"), :class => "button", :id => "generate-gafete" %>
      </div>
    <% end %>
  </body>
</html>