<h1><%= t(:welcome) %>, <%= @attendee.a_name %></h1>
<p>
  <%= t("atten.id_ok") %>,
</p>
<p>
  <%= t("atten.type_nip") %>&nbsp;<span style="font-family: "Times New Roman",Times,serif; font-size: 16px; font-weight: bold;"><%= @nip %></span>.
</p>
<p><%= t("atten.thanks_for_joining") %></p>