<% content_for :javascript_includes do %>
  <%= javascript_include_tag "stands" %>
<% end %>

<%= render "layouts/first_tab" %>
<%= form_for(@stand) do |f| %>
  <% if @stand.errors.any? %>
    <div id="error_explanation">
      <% if @stand.errors.count == 1 %>
        <h2><%= t('activerecord.errors.template.header.one', :model => t("activerecord.models.stand")) %></h2>
      <% else %>
        <h2><%= t('activerecord.errors.template.header.other', :model => t("activerecord.models.stand"), :count => @stand.errors.count) %></h2>
      <% end %>
      <ul>
        <% @stand.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p class="field">
    <%= f.label t("stand.name") %>
    <%= f.text_field :name, :class=>"text-input small-input", :required => true %><span class="required">*</span>
  </p>
  <% if action_name == "edit" || action_name == "update" %>
    <p class="field">
      <%= f.label t("stand.stand_key") %>
    <h4><%= @stand.stand_key %></h4>
    </p>
  <% end %>
  <p class="field">
    <%= f.label t("stand.exhibitor") %>
    <%= f.collection_select :exhibitor_id, Exhibitor.order(:name), :id ,:name %>
  </p>

  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
  </div>

<% end %>
