<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t("activerecord.models.stand").capitalize %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t"stand.name" %>:<%= @stand.name %>
      </td>
    </tr>
  </table>
</div>


<%= render "layouts/action_links" %>
